@model SocialNetworkMvc.Models.RegisterModel
@{
    ViewBag.Title = "Registration";
}
<link href="/Content/Custom.css" rel="stylesheet" type="text/css" />
@*https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScITe_Z6LEV9RS-cOI5JKs7r7_6wwwwOGVwsb4xebsvuIEfsFL*@
<body style="background-image:url('https://kh.viyar.ua/store/Items/photos/ph25734.jpg')">

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0" style="font-size:40px;font-family:Algerian">Registration</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("returnUrl", new { value = ViewBag.returnUrl })
                                    <div>
                                        @Html.ValidationSummary()

                                        <div class="form-group" style="font-family:Algerian;">
                                            @Html.LabelFor(x => x.Name)<br>
                                            @Html.EditorFor(x => x.Name)
                                            @Html.ValidationMessageFor(x => x.Name)

                                        </div>
                                        <div class="form-group" style="font-family:Algerian;">
                                            @Html.LabelFor(x => x.Country)<br>
                                            @Html.EditorFor(x => x.Country)
                                            @Html.ValidationMessageFor(x => x.Country)
                                        </div>
                                        <div class="form-group" style="font-family:Algerian;">
                                            @Html.LabelFor(x => x.City)<br>
                                            @Html.EditorFor(x => x.City)
                                            @Html.ValidationMessageFor(x => x.City)
                                        </div>
                                        <div class="form-group" style="font-family:Algerian;">
                                            @Html.LabelFor(x => x.Age)<br>
                                            @Html.EditorFor(x => x.Age)
                                            @Html.ValidationMessageFor(x => x.Age)
                                        </div>
                                        <div class="form-group" style="font-family:Algerian;">
                                            @Html.LabelFor(x => x.Email)<br>
                                            @Html.EditorFor(x => x.Email)
                                            @Html.ValidationMessageFor(x => x.Email)

                                        </div>
                                        <div class="form-group" style="font-family:Algerian;">

                                            @Html.LabelFor(x => x.Password)<br>
                                            @Html.PasswordFor(x => x.Password)
                                            @Html.ValidationMessageFor(x => x.Password)
                                        </div>
                                        <div class="form-group" style="font-family:Algerian;">
                                            @Html.LabelFor(x => x.ConfirmPassword)<br>
                                            @Html.PasswordFor(x => x.ConfirmPassword)
                                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                        </div>
                                        <div class="form-group" style="font-family:Algerian;">
                                            @Html.LabelFor(x => x.ConfirmPassword)<br>
                                            @Html.PasswordFor(x => x.ConfirmPassword)
                                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                        </div>
                                       
                                    </div>
                                    }

                                    <div id="menuBall2" class="menuBall">
                                        <a href="" class="ball redball">
                                            <div class="menuText">
                                                Register
                                            </div>
                                        </a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>


