@model SocialNetworkMvc.Models.LoginModel
@{
    ViewBag.Title = "Home Page";
}
<link href="/Content/Custom.css" rel="stylesheet" type="text/css" />
@*@if (Model!=null)
{
    Response.Redirect(Url.Action("MyPage","Home"));
}*@

<body style="background-image:url('https://image.freepik.com/free-vector/no-translate-detected_1048-982.jpg')">

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card rounded-0" style="background-color:sandybrown">
                            <div class="card-header">
                                <h3 class="mb-0" style="font-size:40px;font-family:Algerian">Log in</h3>
                            </div>
                            <div class="card-body">
                                @*<form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">*@
                                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("returnUrl", new { value = ViewBag.returnUrl })
                                    <div>
                                        @Html.ValidationSummary()


                                        <div class="form-group" style="font-family:Algerian;">
                                            @Html.LabelFor(x => x.Email)<br>
                                            @Html.EditorFor(x => x.Email)
                                            @Html.ValidationMessageFor(x => x.Email)

                                        </div>
                                        <div class="form-group" style="font-family:Algerian;">

                                            @Html.LabelFor(x => x.Password)<br>
                                            @Html.PasswordFor(x => x.Password)
                                            @Html.ValidationMessageFor(x => x.Password)
                                        </div>



                                    </div>


                                    <input value="Login" type="submit" class="btn btn-outline-dark my-2 my-sm-0" />
                                }
                                @Html.ActionLink("Registration",
                                "Registration",
                                "Account",
                                routeValues: null,
                                htmlAttributes: new {
                                @class = "btn btn-outline-dark my-2 my-sm-0",
                                title ="Register new user" })





                                @*</form>*@

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

