@model SocialNetworkMvc.Models.MyPageModel
@{
    ViewBag.Title = "MyPage";
}
<body style="background-image:url('https://image.freepik.com/free-vector/no-translate-detected_1048-982.jpg')">
    <div>
        <div class="container">
            <div class="row" style="margin-top:10px;margin-bottom:10px;">
                <div class="col-sm">
                    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        if (Model.ProfilePhoto == null)
                        {
                            <label>

                                <img src="@Url.Content("http://www.pngall.com/wp-content/uploads/2/Upload-PNG-Images.png")" style="width:250px;height:250px" /> <input name="upload" id="upload" type="file" style="display: none;">

                            </label>
                            <br>
                            <input type="submit" class="btn btn-outline-dark" value="Upload photo" />
                        }
                        else
                        {
                            <label>

                                <img src="@Url.Content("~/UsersPhotos/"+ Model.ProfilePhoto)" style="width:250px;height:250px" /> <input name="upload" id="upload" type="file" style="display: none;">

                            </label>
                            <br>
                            
                        }



                    }
                </div>
                <div class="col-sm" style="font-family:'MV Boli';font-size:18px;">
                    <h3 style="font-size:25px;"> Basic info:</h3>
                    <br />
                    <b>@Html.LabelFor(x => x.Name):</b>
                    @Html.ValueFor(x => Model.Name)<br /><br />

                    <b>@Html.LabelFor(x => x.Email):</b>
                    @Html.ValueFor(x => Model.Email)<br /><br />

                    <b>@Html.LabelFor(x => x.Age):</b>
                    @Html.ValueFor(x => Model.Age)<br /><br />

                    <b>@Html.LabelFor(x => x.Country):</b>
                    @Html.ValueFor(x => Model.Country)<br />



                </div>

            </div>
        </div>
        
        <br />
        @Html.ActionLink("AddPost", "AddPost_", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })
        <br />


    </div>
    

    <div>
        <br />
        @Html.ActionLink("AddGroup", "AddGroup_", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })


      
    </div>


    <div>
        @if (Model.posts != null)
        {
            foreach (var p in Model.posts)
            {
                @Html.Partial("_PartialViewPost", p)
            }
        }
    </div>
</body>