@model SocialNetworkMvc.Models.MyPageModel
@{
    ViewBag.Title = "MyPage";
}
<body style="background-image:url('https://image.freepik.com/free-vector/no-translate-detected_1048-982.jpg')">
    <div>
        <div class="container">
            <div class="row" style="margin-top:10px;margin-bottom:10px;">
                <div class="col-sm">
                    <img class="rounded" style="width:300px;height:300px" src="@Url.Content("~/UsersPhotos/"+Model.ProfilePhoto)"/>
                </div>
                <div class="col-sm" style="font-family:'MV Boli';font-size:18px;">
                    <h3 style="font-size:25px;"> Basic info:</h3>
                    <br />
                    <b>@Html.LabelFor(x => x.Name):</b>
                    @Html.ValueFor(x => Model.Name)<br /><br />

                    <b>@Html.LabelFor(x => x.Email):</b>
                    @Html.ValueFor(x => Model.Email)<br /><br />

                    <b>@Html.LabelFor(x => x.Age):</b>
                    @Html.ValueFor(x => Model.Age)<br /><br />

                    <b>@Html.LabelFor(x => x.Country):</b>
                    @Html.ValueFor(x => Model.Country)<br />



                </div>

            </div>
        </div>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file"  name="upload" id="upload" /><br>
            <input type="submit" class="btn btn-outline-dark" value="Upload photo" />
        }
        <br/>
        @Html.ActionLink("AddPost", "AddPost_", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })
        <br/>
        @Html.ActionLink("AddGroup", "AddGroup_", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })

    </div>
    </body>