@model SocialNetworkMvc.Models.GroupsModel
@{
    ViewBag.Title = "_PartialViewGroups";
}
<div style="margin-left:200px;margin-right:200px">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="@Url.Content("~/GroupsPhotos/"+Model.MainImage)" class="rounded" style="margin-top:10px;margin-bottom:10px;height:180px; width:180px" />
            </div>
            <div class="col-sm" style="font-family:'MV Boli';font-size:25px; margin-top:10px">
                <b> @Html.LabelFor(x => Model.Name):</b><br />
                @Html.ValueFor(x => Model.Name)<br />


                <b> @Html.LabelFor(x => Model.Description):</b><br />
                @Html.ValueFor(x => Model.Description)
            </div>
            <div class="col-sm" style=" margin-top:10px;margin-bottom:10px;">
                @Html.ActionLink("Add in groups", "MyGroups", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })
                <br /> <br />
                @Html.ActionLink("Go to page", "Group", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })

            </div>
        </div>
    </div>
</div>


