@model SocialNetworkMvc.Models.AddGroupModel
@{
    ViewBag.Title = "_PartialViewAddGroup";
}
<div style="margin-left:200px;margin-right:200px">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                @using (Html.BeginForm("UploadGroupPhoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    if (Model == null)
                    {
                        <label>

                            <img src="@Url.Content("http://www.pngall.com/wp-content/uploads/2/Upload-PNG-Images.png")" style="width:250px;height:250px" /> <input name="upload" id="upload" type="file" style="display: none;">

                        </label>
                        <br>
                        <input type="submit" class="btn btn-outline-dark" value="Upload photo" />
                    }
                    else
                    {
                        <label>

                            <img src="@Url.Content("~/GroupsPhotos/"+ Model.MainImage)" style="width:250px;height:250px" /> <input name="upload" id="upload" type="file" style="display: none;">

                        </label>
                        <br>
                        <input type="submit" class="btn btn-outline-dark" value="Upload photo" />
                    }



                }
            </div>
            <div class="col-sm" style="font-family:'MV Boli';font-size:25px; margin-top:10px">
                @using (Html.BeginForm("AddGroup_", "Home", FormMethod.Post))
                {

                    @Html.LabelFor(x => Model.Name)
                    @Html.EditorFor(x => Model.Name)<br />

                    @Html.LabelFor(x => Model.Subject)
                    @Html.EditorFor(x => Model.Subject)<br />

                    @Html.LabelFor(x => Model.Description)
                    @Html.EditorFor(x => Model.Description)

                    @Html.HiddenFor(x=>x.MainImage)
                    <br />
                    <br />
                    <input value="AddGroup" type="submit" class="btn btn-outline-dark my-2 my-sm-0" />


                }
            </div>

            </div>
        @*<div class="col-sm" style=" margin-top:10px;margin-bottom:10px;">
            

        </div>*@
    </div>
</div>


