@model SocialNetworkMvc.Models.UserModel
@{
    ViewBag.Title = "_PartialViewUser";
}

<div style="margin-left:200px;margin-right:200px">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" style="margin-top:10px;margin-bottom:10px;height:150px" />
            </div>
            <div class="col-sm" style="font-family:'MV Boli';font-size:25px; margin-top:10px;">
                @Html.ValueFor(x => Model.Name)<br />
                @Html.ValueFor(x => Model.Country)<br />

                @Html.ValueFor(x => Model.City)
            </div>
            <div class="col-sm" style=" margin-top:10px;margin-bottom:10px;">
                @Html.ActionLink("Add in friends", "Contact", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })
                @Html.ActionLink("Go to page", "Contact", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })

            </div>
        </div>
    </div>
</div>

