@model SocialNetworkMvc.Models.UserModel
@{
    ViewBag.Title = "_PartialViewUser";
}

<div style="margin-left:200px;margin-right:200px">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="@Url.Content("~/UsersPhotos/"+ Model.ProfilePhoto)" class="rounded" style="margin-top:10px;margin-bottom:10px;height:180px;width:180px" />
            </div>
            <div class="col-sm" style="font-family:'MV Boli';font-size:25px; margin-top:10px;">
                <b>@Html.LabelFor(x => x.Name)</b><br />
                @Html.ValueFor(x => Model.Name)<br />

                <b>@Html.LabelFor(x => x.Country)</b><br />
                @Html.ValueFor(x => Model.Country)<br />


                <b>@Html.LabelFor(x => x.Age)</b><br />
                @Html.ValueFor(x => Model.Age)<br />


            </div>

            
            <div class="col-sm" style=" margin-top:10px;margin-bottom:10px;">

                @using (@Html.BeginForm("ViewUserPage", "Home", FormMethod.Post))
                {

                @Html.HiddenFor(x => x.Name)
                @Html.HiddenFor(x => x.Email)
                @Html.HiddenFor(x => x.Country)
                @Html.HiddenFor(x => x.Age)
                @Html.HiddenFor(x => x.ProfilePhoto)

                <input value="Go to page" type="submit" class="btn btn-outline-dark" />

                }



            </div>
        </div>
    </div>
</div>

