@model SocialNetworkMvc.Models.FriendModel
@{
    ViewBag.Title = "PartialViewFriend";
}
<div style="margin-left:200px;margin-right:200px">
    <div class="container">
        <div class="row">
            <div class="col-sm">
              <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" style="height:100px"/>
            </div>
            <div class="col-sm">
                @Html.LabelFor(x => Model.Name)<br />
                @Html.LabelFor(x => Model.Country)<br />
                @Html.LabelFor(x => Model.City)
            </div>
            <div class="col-sm">
                @Html.ActionLink("Go to page", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                @Html.ActionLink("Remove from friends", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })

            </div>
        </div>
    </div>
</div>


