@model SocialNetworkMvc.Models.PostModel
@{
    ViewBag.Title = "_PartialViewAddPost";
}
<div style="margin-left:200px;margin-right:200px">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                @using (Html.BeginForm("UploadPostImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    if (Model == null)
                    {
                        <label>

                            <img src="@Url.Content("http://www.pngall.com/wp-content/uploads/2/Upload-PNG-Images.png")" style="width:250px;height:250px" /> <input name="upload" id="upload" type="file" style="display: none;">

                        </label>
                        <br>
                        <input type="submit" class="btn btn-outline-dark" value="Upload photo" />
                    }
                    else
                    {
                        <label>

                            <img src="@Url.Content("~/PostsImages/"+ Model.PostImage)" style="width:250px;height:250px" /> <input name="upload" id="upload" type="file" style="display: none;">

                        </label>
                        <br>

                    }



                }
            </div>
            <div class="col-sm" style="font-family:'MV Boli';font-size:25px; margin-top:10px">

                @using (Html.BeginForm("AddPost_","Home",FormMethod.Post))
                {
                    @Html.LabelFor(x => Model.Subject)
                    @Html.EditorFor(x => Model.Subject)<br />

                    @Html.LabelFor(x => Model.Text)
                    @Html.EditorFor(x => Model.Text)

                    @Html.HiddenFor(x=>x.PostImage)


                    <input type="submit" value="Add post" class="btn btn-outline-dark"/>
                }

            </div>

        </div>
       
    </div>
</div>


